# limine.cfg
# Tells Limine what to boot and how.

TIMEOUT=0        # Boot immediately, no menu wait

:MacOS-Lite      # Entry label (shown in boot menu)
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/kernel.elf